body {
  font-family: "Arial", sans-serif;
}

.app {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #ec8305;
}

.sidenav {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  transition: 0.3s;
  background-color: #024caa;
  color: white;
  padding: 10px;
}

.sidenav.open {
  left: 0;
}

.logo {
  width: 100px;
}

.signin-button {
  background-color: #024caa;
  color: white;
  border: none;
  padding: 10px;
}

.banner {
  text-align: center;
  padding: 50px;
}

.profile {
  padding: 10px;
  background-color: #f4f4f4;
}
